@import './../../styles/breakpoints';
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    // max-width: $tablet;
    justify-content: space-around;
  }
}
